{% extends 'app/base.html' %}

{% block content %}

        <h1>テスト</h1>
        {% load static%}
        <!-- Jumbotron -->
        <div class="p-5 text-center bg-light">
            <h1 class="mb-3">My First BLOG</h1>
            <h4 class="mb-3">Subheading</h4>
            <a class="btn btn-primary" href="" role="button">Call to action</a>
        </div>
        <!-- Jumbotron -->

        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for item in post_list %}
            <div class="col">
                <div class="card">
                    {% if item.thumbnail %}
                    <h1>ある</h1>
                    <img src="{{ item.thumbnail.url }}" class="card-img-top" alt="{{ item.title }}" />
                    {% else %}
                    <h1>ない</h1>
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img-top"
                        alt="{{ item.title }}" />
                    {% endif %}
                    <a href="{% url 'app:post_detail' item.id %}">
                        <div class="mask rgba-white-slight"></div>
                    </a> 
                    <div class="card-body">
                        <h5 class="card-title">{{ item.title }}<small>{{ item.author }}</small></h5>
                        <p>{{ item.category }}</p>
                        <p>{{ item.content }}</p>
                        <a href="{% url 'app:post_detail' item.id %}" type="button" class="btn btn-primary btn-md">もっと読む</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>


{% endblock %}
