{% extends 'app/base.html' %}

{% block content %}

<div class="row">
    <div class="col-md-9">
        <br>
        <h1>Post一覧</h1>
        <br>
        <table class="table">
            <thead>
                <th>タイトル</th>
                <th>内容</th>
                <th>作成日時</th>
                <th>更新日時</th>
            </thead>
            <tbody>
                {% for item in post_list %}
                <tr>
                    <td><a href="{% url 'app:post_detail' item.pk %}">{{ item.title }}</a></td>
                    <td>{{ item.content }}</td>
                    <td>{{ item.created_at }}</td>
                    <td>{{ item.update_at }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
    </div>
</div>

{% endblock %}